//*FORM de Contact us *//

#contact {

    form {
        text-align: center;
    }

    .submit {
        background     : $dodgerblue;
        border         : 0;
        border-radius  : 20px;
        padding        : 8px 30px;
        color          : $white;
        transition     : 0.3s;
        font-family    : $fuenteparrafos;
        text-decoration: none;
        display        : inline-block;

    }

    input,
    textarea {
        font-size    : 14px;
        font-family  : $fuenteparrafos;
        margin-bottom: 1rem;

    }

    .form-first {
        width           : 100%;
        font-weight     : 400;
        line-height     : 1.5;
        color           : $tuna;
        background-color: $white;
    }

    .form-control {
        display         : block;
        width           : 100%;
        padding         : .375rem .75rem;
        font-weight     : 400;
        height          : 38px;
        line-height     : 1.5;
        color           : $tuna;
        background-color: $white;
        background-clip : padding-box;
        border          : 1px solid $linkwater;
        transition      : border-color .15s ease-in-out, box-shadow .15s ease-in-out;
        box-sizing      : border-box;
    }

    .form-control:focus {
        border-color: $mayablue;
        outline     : 0;
    }


    .form-textarea {
        height: 120px;
    }
}



//* FORM del Footer *//

.footer {
    form {
        display: flex;
    }

    input {
        background-color: $white;
        border          : 0;
        padding         : 6px 8px;
        width           : 65%;
        box-sizing      : border-box;

    }

    button {
        background : $dodgerblue;
        border     : 0;
        width      : 35%;
        padding    : 6px 0;
        text-align : center;
        color      : $white;
        transition : 0.3s;
        cursor     : pointer;
        font-family: $fuenteparrafos;
        font-size  : 14px;
    }
}