#contact {

    form {
        text-align: center;
    }

    .button-scroll {
        background     : $navyblue;
        border         : 0;
        border-radius  : 20px;
        padding        : 8px 30px;
        color          : #fff;
        transition     : 0.3s;
        font-family    : $fuenteparrafos;
        text-decoration: none;

    }

    input,
    textarea {
        font-size    : 14px;
        font-family  : $fuenteparrafos;
        margin-bottom: 1rem;

    }

    .form-first {
        width           : 100%;
        padding         : .375rem .75rem;
        font-weight     : 400;
        line-height     : 1.5;
        color           : #495057;
        background-color: #fff;
    }

    .form-control {
        display         : block;
        width           : 100%;
        height          : calc(2.25rem + 2px);
        padding         : .375rem .75rem;
        font-weight     : 400;
        line-height     : 1.5;
        color           : #495057;
        background-color: $white;
        background-clip : padding-box;
        border          : 1px solid #ced4da;
        transition      : border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    }
}