
/* fuentes */
$fuenteparrafos: 'Open Sans', sans-serif;

$fuentetitulo: 'Montserrat', sans-serif;


/* colores de fondo */
$persianblue: #1445b3; /* color del hero */

$white: white; 

$cobalt: #004a99; /* color de fondo de secciones azules */ 

$darkcerulean: #00458F; /* color azul oscuro de las secciones */ 

$aliceblue: #ecf5ff; /* azul palido de secciones */ 


/* colores de letras */

$mayablue: #74b5fc;  /* color de SOLUTIONS en el hero */

$nileblue: #283d50; /* color de los titulos */


/* color de los botones, iconos y links */

$dodgerblue: #007bff;

$palecornflowerblue: #BFDDFE; /* color iconos de why choose us? */ 

