
/* fuentes */
$fuenteparrafos: 'Open Sans', sans-serif;
$fuentetitulo: 'Montserrat', sans-serif;


/* colores de fondo */
$persianblue: #1445b3; /* color del hero */
$white: white; 
$cobalt: #004a99; /* color de fondo de secciones azules */ 
$darkcerulean: #00458F; /* color azul oscuro de las secciones e icono del hero*/ 
$aliceblue: #ecf5ff; /* azul palido de secciones y fondo de los botones de Our Portfolio*/ 


/* colores de letras */

$mayablue: #74b5fc;  /* color de SOLUTIONS en el hero */
$nileblue: #283d50; /* color de los titulos */
$shuttlegrey: #556877; /*color de los parrafos */
$nobel: #999; /* lineas de texto claras */


/* color de los botones, iconos y links */

$dodgerblue: #007bff;
$palecornflowerblue: #BFDDFE; /* color iconos de why choose us? */ 
$gainsboro: #ddd; /*color de botones deslizantes */

/* color de los iconos de la seccion SERVICES, en orden. */

$brilliantrose: #ff689b; 
$goldenpoppy: #e9bf06;
$mediumturquoise: #3fcdc7;
$limegreen: #41cf2e;
$pear: #d6ff22;
$royalblue: #4680ff;


