#about{
    background: white;
    padding: 60px 0;
}
    .container{
     max-width: 540px;
     position: relative;
     padding-right: 15px;
     padding-left: 15px;
     margin-right: auto;
     margin-left: auto;
 }
    .header{
    display: block;
}
    h3{
    font-size: 36px;
    color: $nileblue;
    text-align: center;
    font-weight: bold;
    position: relative;
}
    p {
    width: 100%;
    text-align: center;
    margin: 0 0 15px 0;
    font-size: 25px;
    padding-bottom: 20px;
    color: $shuttlegrey;
    line-height: 26px;

}

.container-style{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.icon-container{
    background-size: cover;
    padding: 0 0 30px 0;
}
    .icon{
        float: left;
        width: 64px;
        height: 64px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        border-radius: 50%;
        border: 2px solid $dodgerblue;
        text-align: center;
    }
    .fa{
        color: $dodgerblue;
        font-size: 24px;
    }
    .title{
        margin-left: 80px;
        font-weight: 600;
        margin-bottom: 5px;
        font-size: 18px;
        color: #333;
    }
    .p-description{
        margin-left: 80px;
        line-height: 24px;
        font-size: 14px;
    }

    .container-img{
        margin: 20px 0;
        position: relative;
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
    }
    img{
        vertical-align: middle;
        border-style: none;
    }
    .img-extra{
        max-width: 100%;
        height: auto;
    }

    .container-about{
        display: block;
        position: relative;
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        padding-top: 3rem!important;
    }
    #about .container-about h4{
        font-weight: 600;
        font-size: 24px;
    }