#intro {
    padding: 140px 0 60px 0;
    position: relative;
    background-color: $darkcerulean;
    background-size: cover;
  }
  
    .container1 {
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }
  
    .img-intro {
        float: none;
        margin: 0 auto 25px auto;
        display: flex;
        flex-wrap: wrap;
        max-width: 100%;
        height: auto;
    }
  
    img {
        vertical-align: middle;
        width: 80%;
    }
  
    .info-intro {
        color: $white;
        text-align: center;
        float: none;
        margin: auto;
        text-align: center;
    }
  
        h2 {
        font-size: 34px;
        margin-bottom: 30px;
        font-weight: 800;
    }
    
    .buttom-scroll {
        background: $dodgerblue;
        border: 2px solid $dodgerblue;
        color: $white;
        font-family: "Montserrat", sans-serif;
        font-size: 14px;
        font-weight: 600;
        display: inline-block;
        padding: 10px 32px;
        border-radius: 50px;
        transition: 0.5s;
        margin: 0 20px 20px 0;
    }
  