#header {
    height     : 60px;
    background : white;
    box-shadow : 0px 0px 30px rgba(127, 137, 161, 0.3);
    position   : fixed;
    z-index    : 99999;
    width      : 100%;
    box-sizing : border-box;
    padding    : 10px 15px;
    box-shadow : 0px 0px 30px rgba(127, 137, 161, 0.3);
    display    : flex;
    align-items: center;

    @include web {
        height: 80px;
    }

    .header-container {
        display        : flex;
        justify-content: space-between;
        align-items    : center;
        width          : 100%;
        margin         : 0 auto;

        @include web {

            max-width: 1100px;
        }
    }

    .button-nav-mobile {
        right      : 0;
        top        : 0;
        border     : 0;
        background : none;
        font-size  : 24px;
        outline    : none !important;
        line-height: 1;
        cursor     : pointer;
        color      : $darkcerulean;

        @include web {
            display: none;
        }
    }

    .button {
        overflow     : visible;
        border-radius: 0;
    }



    a {
        color                     : #007bff;
        transition-property       : all;
        transition-duration       : 0.5s;
        transition-timing-function: ease;
        transition-delay          : 0s;
        text-decoration           : none;
        background-color          : transparent;
    }

    #header .logo img {
        max-width: 100%;
        height   : auto;
    }

    .logo {
        height: auto;
        width : 67px;
    }

    .img-logo {
        height : 100%;
        width  : auto;
        display: block;

        img {
            max-width     : 100%;
            height        : auto;
            vertical-align: middle;
        }
    }

    .main-nav,
    .main-nav * {
        margin    : 0;
        padding   : 0;
        list-style: none;
        display   : none;

        li {
            display   : inline-block;
            cursor    : pointer;
            position  : relative;
            box-sizing: border-box;

        }

        a,
        span {
            padding        : 10px 15px;
            font-family    : $fuentetitulo;
            color          : $darkcerulean;
            text-decoration: none;
            font-size      : 14px;

        }

        .chevron {
            display     : inline-block;
            font-size   : 10px;
            padding-left: 5px;
        }

        a:hover,
        span:hover {
            color: $dodgerblue;
        }

        .dropdown-submenu,
        .dropdown-submenu2 {
            position: relative;

            ul {
                display         : none;
                position        : absolute;
                background-color: $white;
                padding         : 10px 0;
                box-shadow      : 0px 0px 30px rgba(127, 137, 161, 0.25);
                transition      : ease all 0.3s;
                top             : 100%;
            }

            li {
                display  : block;
                min-width: 180px;
                position : relative;
            }

            a,
            span {
                padding: 10px 20px;
            }
        }

        .dropdown-submenu2 {
            span {
                display        : flex;
                justify-content: space-between;
                align-items    : center;
            }

            ul {
                top : 0;
                left: 100%;
            }
        }

        .dropdown-submenu:hover>ul {
            display: block;
        }

        .dropdown-submenu2:hover>ul {
            display: block;
        }

        @include web {
            display: block;
        }
    }
}