.portfolio {
    padding: 60px 0;

    .container {
        padding: 0px;
    }

    .header {
        text-align: center;
    }

    p {
        color: $white;

    }

    span {
        background: $dodgerblue;
        color     : $white;

    }

    .menu-list {
        padding   : 0;
        margin    : 5px 0 35px 0;
        list-style: none;
        text-align: center;
    }

    .menu-details {
        text-align     : center;
        background     : $aliceblue;
        color          : $dodgerblue;
        text-decoration: none;
        font-family    : $fuenteparrafos;
        display        : inline-block;
        padding        : 6px 20px;
        margin         : 15px 15px 15px 0;
        border-radius  : 50px;
        font-size      : 12px;
        transition     : all 0.3s ease-in-out;
    }

    .activo,
    .menu-details:hover {
        background: $dodgerblue;
        color     : $white;
    }

    .card {
        position     : relative;
        overflow     : hidden;
        margin-bottom: 30px;
        height       : 250px;
        width        : 100%;
        padding-right: 15px;
        padding-left : 15px;

        .card-container {
            overflow        : hidden;
            position        : relative;
            border-radius   : 6px;
            margin          : 0;
            height          : 100%;
            background-color: $prussianblue;
        }

        img {
            max-width : 100%;
            height    : 100%;
            width     : 100%;
            object-fit: cover;
            box-sizing: border-box;
        }

        .info-container {
            position       : absolute;
            z-index        : 10;
            display        : flex;
            justify-content: center;
            align-items    : center;
            flex-direction : column;
            top            : 0;
            right          : 0;
            bottom         : 0;
            left           : 0;
            opacity        : 0;
            transition     : 0.2s linear;

            h4 {
                color         : $white;
                font-size     : 22px;
                line-height   : 1px;
                font-weight   : 700;
                margin        : 0 0 14px;
                padding-bottom: 0;
            }

            p {
                color    : $aliceblue;
                font-size: 14px;
            }

            .title {
                text-align: center;
            }
        }

        .networks {
            display: flex;

            span {
                display        : flex;
                justify-content: center;
                align-items    : center;
                line-height    : 1;
                text-align     : center;
                width          : 36px;
                height         : 36px;
                background     : $dodgerblue;
                border-radius  : 50%;
                margin         : 0 8px;
            }
        }

        .card-container:hover .info-container {
            opacity: 1;
        }

        .card-container:hover img {
            opacity   : 0.4;
            transition: 0.3s;
        }
    }

    .imgprop {
        background-size: cover;
        width          : 100%;
    }

}