.portfolio {
    .header {
        text-align: center;
        margin    : 0px;
    }
    p{color: $white;

    }
    span{background: $dodgerblue;
        color: $white;
        
    }

}


.menudetails {
    text-align     : center;
    background     : $aliceblue;
    color          : $dodgerblue;
    text-decoration: none;
    font-family    : $fuenteparrafos;
    display        : inline-block;
    padding        : 6px 20px;
    margin         : 15px 15px 15px 0;
    border-radius  : 50px;
    font-size      : 12px;
}

.imgprop {
    background-size: cover;
    width          : 100%;
    margin-bottom  : 30px;
    height         : 250px;
    margin         : 10px 0 4px 0px;
}


.image1 {
    background-image: url(../img/portfolio/app1.jpg);
}

.image2 {
    background-image: url(../img/portfolio/web3.jpg);

}

.image3 {
    background-image: url(../img/portfolio/app2.jpg);

}

.image4 {
    background-image: url(../img/portfolio/card2.jpg);

}

.image5 {
    background-image: url(../img/portfolio/web2.jpg);

}

.image6 {
    background-image: url(../img/portfolio/app3.jpg);

}

.image7 {
    background-image: url(../img/portfolio/card1.jpg);
}

.image8 {
    background-image: url(../img/portfolio/card2.jpg);

}

.image9 {
    background-image: url(../img/portfolio/web3.jpg);
}