#services {
    padding   : 60px 0 40px 0;
    box-shadow: inset 0px 0px 12px 0px rgb(0, 0, 0, 0.1);
    background: $aliceblue;
    display   : block;

    .info-services {
        text-align    : center;
        font-size     : 15px;
        padding-bottom: 60px;
        margin        : 0;
    }

    h4 {
        margin       : 0 0 0 40px;
        font-weight  : 700;
        margin-bottom: 15px;
        font-size    : 18px;
        box-sizing   : border-box;
        font-weight  : 700;
    }

    .container2 {
        max-width    : 540px;
        position     : relative;
        padding-left : 15px;
        padding-right: 15px;
        margin-right : auto;
        margin-left  : auto;
    }

    .box {
        padding      : 30px;
        position     : relative;
        overflow     : hidden;
        border-radius: 10px;
        margin       : 0 10px 40px 10px;
        background   : #fff;
        box-shadow   : 0 10px 29px 0 rgba(68, 88, 144, 0.1);
        transition   : all 0.3s ease-in-out;
        box-sizing   : border-box;
        height       : auto;

        @include web {
            width : 40%;
            margin: 0 20px 40px;
        }
    }

    .box:hover {
        transform: translateY(-5px)
    }

    i {
        position  : absolute;
        font-size : 64px;
        left      : -10px;
        top       : calc(50% - 32px);
        box-sizing: border-box;

    }

    .info-serv {
        display        : flex;
        flex-direction : column;
        justify-content: center;
        align-items    : initial;
    }

    .p-description {
        font-size    : 14px;
        line-height  : 24px;
        margin-bottom: 0;
        padding      : 0;
        margin       : 0 0 0 40px;
    }

    .icon1 {
        color: $brilliantrose;

    }

    .icon2 {
        color: $goldenpoppy;
    }

    .icon3 {
        color: $mediumturquoise;

    }

    .icon4 {
        color: $limegreen;

    }

    .icon5 {
        color: $pear;

    }



    .icon6 {
        color: $royalblue;

    }

    .box-container {
        @include web {
            display        : flex;
            flex-wrap      : wrap;
            justify-content: center;

        }
    }


}