/* fuentes */
/* colores de fondo */
/* color del hero */
/* color de fondo de secciones azules */
/* color azul oscuro de las secciones e icono del hero*/
/* azul palido de secciones y fondo de los botones de Our Portfolio*/
/* colores del Form*/
/* colores de letras */
/* color de SOLUTIONS en el hero y Focus del primer formulario */
/* color de los titulos */
/*color de los parrafos */
/* lineas de texto claras */
/* color del texto general en body */
/*color footer, algunas letras*/
/* color del form*/
/*color de testimonials*/
/* color de los botones, iconos y links */
/* color iconos de why choose us? */
/*color de botones deslizantes */
/* color del boton del form*/
/* color de los iconos de la seccion SERVICES, en orden. */
body {
  margin: 0px;
  color: #444;
}

.section {
  padding: 60px 0 40px 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  line-height: 1.2;
}

h3 {
  font-weight: 500;
  text-align: center;
  color: #283d50;
  margin: 0px 0px 20px 0px;
  font-size: 36px;
}

p {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  color: #556877;
  line-height: 1.5;
}

div {
  box-sizing: border-box;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    max-width: 1140px;
  }
}

.header {
  max-width: 540px;
  margin: 0 auto;
}

#intro {
  padding: 100px 0 20px 0;
  position: relative;
  background-color: #1445b3;
  background-size: cover;
}
@media (min-width: 768px) {
  #intro {
    padding: 200px 0 120px 0;
  }
}
#intro .solutions {
  text-decoration: underline;
  color: #74b5fc;
}
#intro .img-container {
  margin: 0 auto 25px auto;
  width: 80%;
}
@media (min-width: 768px) {
  #intro .img-container {
    width: 50%;
    margin: 0;
  }
  #intro .img-container img {
    margin: 0;
  }
}
#intro .img-intro {
  margin: 0 auto 25px auto;
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  height: auto;
}
#intro img {
  vertical-align: middle;
  border-style: none;
}
#intro .info-intro {
  color: white;
  text-align: center;
  margin: auto;
  text-align: center;
}
@media (min-width: 768px) {
  #intro .info-intro {
    margin: 0;
  }
}
#intro h2 {
  font-size: 34px;
  margin-bottom: 30px;
  font-weight: 800;
}
@media (min-width: 768px) {
  #intro h2 {
    margin-bottom: 40px;
    font-size: 48px;
    font-weight: 700;
    text-align: left;
    margin-top: 0;
  }
}
#intro .hero-button {
  display: flex;
  align-items: center;
  flex-direction: column;
}
@media (min-width: 768px) {
  #intro .hero-button {
    flex-direction: row;
  }
}
#intro .hero-button a {
  border: 2px solid white;
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 600;
  display: inline-block;
  padding: 10px 32px;
  border-radius: 50px;
  transition: 0.5s;
  margin: 0 0 20px 0;
  text-decoration: none;
}
@media (min-width: 768px) {
  #intro .hero-button a {
    margin: 0 20px 20px 0;
  }
}
#intro a:hover {
  background: #007bff;
  border-color: #007bff;
  color: white;
}
@media (min-width: 768px) {
  #intro .container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}

#about {
  background: white;
  padding: 60px 0;
}
#about .container {
  max-width: 540px;
  position: relative;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  #about .container {
    max-width: 1140px;
  }
}
#about .header {
  display: block;
  max-width: 540px;
  margin: 0 auto;
}
#about .header p {
  color: #556877;
}
#about h3 {
  font-size: 36px;
  color: #283d50;
  text-align: center;
  font-weight: bold;
  position: relative;
}
#about p {
  margin: 0;
  color: #444;
}
#about .header-description {
  text-align: center;
  padding-bottom: 60px;
}
#about .description {
  font-size: 16px;
  margin: 0 0 30px 0;
  line-height: 26px;
}
#about .container-style {
  display: flex;
  flex-wrap: wrap;
}
@media (min-width: 768px) {
  #about .container-style {
    width: 50%;
  }
}
#about .icon-container {
  padding: 0 0 30px 0;
}
#about .icon {
  width: 64px;
  height: 64px;
  display: flex;
  border-radius: 50%;
  border: 2px solid #007bff;
  align-items: center;
}
#about .icon-container {
  padding: 0 0 30px 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
#about .fa {
  color: #007bff;
  font-size: 24px;
  width: 64px;
  text-align: center;
}
#about .title {
  font-weight: 600;
  margin: 0 0 5px;
  font-size: 18px;
  color: #333;
}
#about .p-description {
  line-height: 24px;
  font-size: 14px;
}
#about .info {
  margin-left: 15px;
}
#about .container-img {
  margin: 20px 0;
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
@media (min-width: 768px) {
  #about .container-img {
    width: 50%;
  }
}
#about img {
  vertical-align: middle;
  border-style: none;
}
#about .img-extra {
  max-width: 100%;
  height: auto;
}
#about .desk-container2 .description,
#about .desk-container3 .description {
  padding: 32px 0 0;
}
@media (min-width: 768px) {
  #about .desk-container2 .description,
#about .desk-container3 .description {
    width: 50%;
  }
}
#about .desk-container2 .description h4,
#about .desk-container3 .description h4 {
  font-weight: 600;
  font-size: 24px;
  margin: 0 0 20px 0;
}
#about .desk-container2 .description p,
#about .desk-container3 .description p {
  padding: 0;
  margin: 0 0 30px 0;
  font-size: 16px;
}
#about .extra2 {
  padding-top: 6px;
}
#about #about .container-about h4 {
  font-weight: 600;
  font-size: 24px;
}
@media (min-width: 768px) {
  #about .desk-container1 {
    display: flex;
    flex-direction: row-reverse;
  }
}
@media (min-width: 768px) {
  #about .desk-container2 {
    display: flex;
    flex-wrap: row;
  }
}
@media (min-width: 768px) {
  #about .desk-container3 {
    display: flex;
    flex-direction: row-reverse;
  }
}

#services {
  padding: 60px 0 40px 0;
  box-shadow: inset 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
  background: #ecf5ff;
  display: block;
}
#services .info-services {
  text-align: center;
  font-size: 15px;
  padding-bottom: 60px;
  margin: 0;
}
#services h4 {
  margin: 0 0 0 40px;
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
  box-sizing: border-box;
  font-weight: 700;
}
#services .container2 {
  max-width: 540px;
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}
#services .box {
  padding: 30px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  margin: 0 10px 40px 10px;
  background: #fff;
  box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.1);
  transition: all 0.3s ease-in-out;
  box-sizing: border-box;
  height: auto;
}
@media (min-width: 768px) {
  #services .box {
    width: 40%;
    margin: 0 20px 40px;
  }
}
#services .box:hover {
  transform: translateY(-5px);
}
#services i {
  position: absolute;
  font-size: 64px;
  left: -10px;
  top: calc(50% - 32px);
  box-sizing: border-box;
}
#services .info-serv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: initial;
}
#services .p-description {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  padding: 0;
  margin: 0 0 0 40px;
}
#services .icon1 {
  color: #ff689b;
}
#services .icon2 {
  color: #e9bf06;
}
#services .icon3 {
  color: #3fcdc7;
}
#services .icon4 {
  color: #41cf2e;
}
#services .icon5 {
  color: #d6ff22;
}
#services .icon6 {
  color: #4680ff;
}
@media (min-width: 768px) {
  #services .box-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.choose {
  background-color: #004a99;
}
.choose .container {
  color: white;
}
.choose h3 {
  color: white;
}
.choose h3,
.choose h5 {
  text-align: center;
  margin: 0px;
}
.choose p {
  text-align: center;
  font-size: 15px;
  line-height: 1.5;
  color: white;
}
.choose h5 {
  font-size: 22px;
  font-weight: 600;
  margin: 0px 0px 20px 0px;
}
.choose .header {
  padding-bottom: 60px;
}
.choose .iconchoose {
  color: #BFDDFE;
  font-size: 48px;
  padding-top: 15px;
}
@media (min-width: 768px) {
  .choose .boxwhy-container {
    display: flex;
  }
}
.choose .boxwhy {
  background-color: #00458F;
  height: 100%;
  padding: 15px 0;
  text-align: center;
  margin-bottom: 1.5rem !important;
  border-radius: 10px;
  box-sizing: border-box;
}
@media (min-width: 768px) {
  .choose .boxwhy {
    width: 33%;
    height: 100%;
    margin: 0 30px;
  }
}
.choose .boxwhy a {
  text-decoration: none;
  color: white;
  font-weight: 600;
}
.choose .boxwhy .textbox {
  padding: 1.25rem;
}
.choose .separation {
  margin: 0 0 30px 0;
}
.choose .marginp {
  margin: 0px;
}
.choose .counters {
  display: flex;
  flex-wrap: wrap;
  padding-top: 40px;
}
.choose .counters span {
  font-size: 48px;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
}
@media (min-width: 768px) {
  .choose .counters {
    flex-wrap: nowrap;
  }
}
.choose .item {
  width: 50%;
  text-align: center;
}
.choose .item p {
  margin: 0 0 20px 0;
}

.portfolio {
  padding: 60px 0;
}
.portfolio .container {
  padding: 0px;
}
.portfolio .header {
  text-align: center;
}
.portfolio p {
  color: white;
}
.portfolio span {
  background: #007bff;
  color: white;
}
.portfolio .menu-list {
  padding: 0;
  margin: 5px 0 35px 0;
  list-style: none;
  text-align: center;
}
.portfolio .menu-details {
  text-align: center;
  background: #ecf5ff;
  color: #007bff;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  display: inline-block;
  padding: 6px 20px;
  margin: 15px 15px 15px 0;
  border-radius: 50px;
  font-size: 12px;
  transition: all 0.3s ease-in-out;
}
.portfolio .activo,
.portfolio .menu-details:hover {
  background: #007bff;
  color: white;
}
@media (min-width: 768px) {
  .portfolio .portfolio-container {
    display: flex;
    flex-wrap: wrap;
  }
}
.portfolio .card {
  position: relative;
  overflow: hidden;
  margin-bottom: 30px;
  height: 250px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
@media (min-width: 768px) {
  .portfolio .card {
    width: 33%;
  }
}
.portfolio .card .card-container {
  overflow: hidden;
  position: relative;
  border-radius: 6px;
  margin: 0;
  height: 100%;
  background-color: #003166;
}
.portfolio .card img {
  max-width: 100%;
  height: 100%;
  width: 100%;
  object-fit: cover;
  box-sizing: border-box;
}
.portfolio .card .info-container {
  position: absolute;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  transition: 0.2s linear;
}
.portfolio .card .info-container h4 {
  color: white;
  font-size: 22px;
  line-height: 1px;
  font-weight: 700;
  margin: 0 0 14px;
  padding-bottom: 0;
}
.portfolio .card .info-container p {
  color: #ecf5ff;
  font-size: 14px;
}
.portfolio .card .info-container .title {
  text-align: center;
}
.portfolio .card .networks {
  display: flex;
}
.portfolio .card .networks span {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1;
  text-align: center;
  width: 36px;
  height: 36px;
  background: #007bff;
  border-radius: 50%;
  margin: 0 8px;
}
.portfolio .card .card-container:hover .info-container {
  opacity: 1;
}
.portfolio .card .card-container:hover img {
  opacity: 0.4;
  transition: 0.3s;
}
.portfolio .imgprop {
  background-size: cover;
  width: 100%;
}

.sectestimonials {
  text-align: center;
  margin: 0px;
  background: #ecf5ff;
  color: #283d50;
  box-shadow: inset 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
  padding: 60px 0;
  /* Carrusel */
}
.sectestimonials .tittle-test {
  margin-bottom: 40px;
}
.sectestimonials .container h3 {
  color: #111;
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0 5px 0;
}
@media (min-width: 768px) {
  .sectestimonials .container h3 {
    text-align: left;
  }
}
.sectestimonials .container h4 {
  color: #999;
  font-size: 14px;
  margin: 0 0 15px 0;
  font-weight: 400;
  padding: 0;
}
.sectestimonials p {
  color: #444;
  font-style: italic;
  font-weight: 400;
  margin: 0 0 15px 0;
  box-sizing: border-box;
}
.sectestimonials .container {
  padding: 0;
}
.sectestimonials .container img {
  max-width: 100%;
  border-radius: 50%;
  width: 120px;
  height: 120px;
}
.sectestimonials .carrusel {
  display: block;
  position: relative;
  height: 354px;
  margin: 0;
  padding: 0;
  overflow: hidden;
  list-style: none;
  /* para desplazar las cards */
  /* para pintar el boton activo */
}
@media (min-width: 768px) {
  .sectestimonials .carrusel {
    width: 730px;
    margin: 0 auto;
    height: 180px;
  }
}
@media (min-width: 768px) {
  .sectestimonials .carrusel .testimonial-text {
    text-align: left;
    margin-left: 30px;
  }
}
.sectestimonials .carrusel .cards {
  display: flex;
  width: 500%;
}
.sectestimonials .carrusel .radio-button:nth-of-type(1):checked ~ .cards {
  transform: translate3d(0%, 0px, 0px);
  transition: all 0.25s ease 0s;
}
.sectestimonials .carrusel .radio-button:nth-of-type(2):checked ~ .cards {
  transform: translate3d(-20%, 0px, 0px);
  transition: all 0.25s ease 0s;
}
.sectestimonials .carrusel .radio-button:nth-of-type(3):checked ~ .cards {
  transform: translate3d(-40%, 0px, 0px);
  transition: all 0.25s ease 0s;
}
.sectestimonials .carrusel .radio-button:nth-of-type(4):checked ~ .cards {
  transform: translate3d(-60%, 0px, 0px);
  transition: all 0.25s ease 0s;
}
.sectestimonials .carrusel .radio-button:nth-of-type(5):checked ~ .cards {
  transform: translate3d(-80%, 0px, 0px);
  transition: all 0.25s ease 0s;
}
.sectestimonials .carrusel .radio-button:nth-of-type(1):checked ~ .buttons label:nth-of-type(1),
.sectestimonials .carrusel .radio-button:nth-of-type(2):checked ~ .buttons label:nth-of-type(2),
.sectestimonials .carrusel .radio-button:nth-of-type(3):checked ~ .buttons label:nth-of-type(3),
.sectestimonials .carrusel .radio-button:nth-of-type(4):checked ~ .buttons label:nth-of-type(4),
.sectestimonials .carrusel .radio-button:nth-of-type(5):checked ~ .buttons label:nth-of-type(5) {
  background-color: #007bff;
}
.sectestimonials .carrusel input[type=radio] {
  display: none;
}
.sectestimonials .carrusel li {
  list-style: none;
  display: block;
  width: 100%;
  padding: 0 15px;
}
@media (min-width: 768px) {
  .sectestimonials .carrusel .testimonial {
    display: flex;
    flex-direction: row;
  }
}
.sectestimonials .carrusel .buttons {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  text-align: center;
}
.sectestimonials .carrusel .buttons label {
  background-color: #ddd;
  padding: 6px;
  margin: 0 3px;
  border-radius: 50%;
  display: inline-block;
}

@media (min-width: 768px) {
  .team .members-container {
    display: flex;
    flex-direction: row;
    max-width: 1140px;
    margin: 0 auto;
  }
}
.team h3 {
  text-align: center;
  color: #283d50;
  margin: 0 0 20px 0;
  padding: 0;
}
.team p {
  text-align: center;
  margin: auto;
  font-size: 15px;
  padding-bottom: 60px;
  color: #556877;
}
.team .row-team {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.team .member-con {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
.team .fadeInUp {
  animation-name: fadeInUp;
}
.team .member {
  text-align: center;
  margin-bottom: 20px;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
}
.team .member-info {
  box-sizing: border-box;
  opacity: 0;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  transition: 0.2s;
}
.team .member-con:hover .member-info {
  background: rgba(0, 62, 128, 0.7);
  opacity: 1;
  transition: 0.4s;
}
.team h4 {
  display: block;
  margin-block-start: 1.33em;
  margin-block-end: 1.33em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  color: white;
}
.team span {
  font-style: italic;
  display: block;
  font-size: 13px;
  color: white;
}
.team .member-con:hover .member-info-content {
  margin-top: 0;
  transition: margin 0.4s;
}
.team .member-info .social {
  margin-top: 15px;
  box-sizing: border-box;
}
.team a {
  transition: none;
  color: white;
}
.team img {
  max-width: 100%;
  height: auto;
}

.footer {
  background: #004a99;
  color: #eee;
  font-size: 14px;
  display: block;
  box-sizing: border-box;
}
.footer h3 {
  color: white;
  text-align: initial;
  font-size: 36px;
  margin: 0 0 20px 0;
  padding: 2px 0 2px 0;
  font-weight: 400;
}
.footer p {
  color: #ecf5ff;
  font-size: 13px;
  line-height: 24px;
  margin-bottom: 0;
  margin-top: 0;
}
.footer h6 {
  font-size: 14px;
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .footer .container-footer {
    display: flex;
    flex-direction: row;
    max-width: 1140px;
    height: 272px;
  }
}
.footer .list-footer {
  list-style: none;
  padding: 0;
  margin: 0;
}
.footer .list-footer li {
  padding: 8px 0px;
}
.footer .list-footer a {
  text-decoration: none;
  color: white;
  font-size: 14px;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
}
.footer .icon-footer {
  box-sizing: border-box;
}
.footer .icon-footer i {
  background-color: #007bff;
  font-size: 18px;
  display: inline-block;
  color: white;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  transition: 0.3s;
}
.footer .contact-footer {
  margin: 0 0 30px;
}
.footer .contact-footer p {
  margin: 0;
  line-height: 26px;
}
.footer .footer-top {
  padding-top: 60px;
  padding-bottom: 30px;
  box-sizing: border-box;
}
.footer .our-new p {
  font-size: 14px;
  line-height: 21px;
  margin: 0 0 30px;
}
.footer .footer-info {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
}
@media (min-width: 768px) {
  .footer .footer-info {
    width: 33%;
    flex: 0 0 33.333333%;
  }
}
.footer .footer-info p {
  font-family: "Montserrat", sans-serif;
}
.footer .copyright-footer {
  background-color: #00458F;
  text-align: center;
  padding: 30px 0;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
}
.footer .copyright-footer span {
  font-weight: bolder;
}
@media (min-width: 768px) {
  .footer .column2-footer {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
  }
}
@media (min-width: 768px) {
  .footer .column3-footer {
    flex: 0 0 25%;
    max-width: 25%;
  }
}

.clientssec {
  background: #ecf5ff;
  width: 100%;
  padding: 60px 0;
  box-shadow: inset 0px 0px 12px 0px rgba(0, 0, 0, 0.1);
}
.clientssec h3 {
  margin: 0;
}
.clientssec p {
  padding: 0;
  text-align: center;
}
.clientssec .header {
  padding-bottom: 60px;
}
.clientssec .container-clientes {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .clientssec .container-clientes {
    max-width: 1140px;
  }
}
.clientssec .clientes-comun {
  border-top: 1px solid #d6eaff;
  border-left: 1px solid #d6eaff;
  margin-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  width: 100%;
}
.clientssec .no-Gutters {
  margin-right: 0;
  margin-left: 0;
}
.clientssec .client-logo {
  padding: 64px;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  align-items: center;
  border-right: 1px solid #d6eaff;
  border-bottom: 1px solid #d6eaff;
  overflow: hidden;
  background: white;
  height: 160px;
}
@media (min-width: 768px) {
  .clientssec .client-logo {
    width: 25%;
  }
}
.clientssec img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border-style: none;
  transition: all 0.4s ease-in-out;
}
.clientssec .client-logo:hover img {
  -webkit-transform: scale(1.2);
  transform: scale 1.2;
}

#header {
  height: 60px;
  background: white;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.3);
  position: fixed;
  z-index: 99999;
  width: 100%;
  box-sizing: border-box;
  padding: 10px 15px;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.3);
  display: flex;
  align-items: center;
}
@media (min-width: 768px) {
  #header {
    height: 80px;
  }
}
#header .header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}
@media (min-width: 768px) {
  #header .header-container {
    max-width: 1100px;
  }
}
#header .button-nav-mobile {
  right: 0;
  top: 0;
  border: 0;
  background: none;
  font-size: 24px;
  outline: none !important;
  line-height: 1;
  cursor: pointer;
  color: #00458F;
}
@media (min-width: 768px) {
  #header .button-nav-mobile {
    display: none;
  }
}
#header .button {
  overflow: visible;
  border-radius: 0;
}
#header a {
  color: #007bff;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: ease;
  transition-delay: 0s;
  text-decoration: none;
  background-color: transparent;
}
#header #header .logo img {
  max-width: 100%;
  height: auto;
}
#header .logo {
  height: auto;
  width: 67px;
}
#header .img-logo {
  height: 100%;
  width: auto;
  display: block;
}
#header .img-logo img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}
#header .main-nav,
#header .main-nav * {
  margin: 0;
  padding: 0;
  list-style: none;
  display: none;
}
#header .main-nav li,
#header .main-nav * li {
  display: inline-block;
  cursor: pointer;
  position: relative;
  box-sizing: border-box;
}
#header .main-nav a,
#header .main-nav span,
#header .main-nav * a,
#header .main-nav * span {
  padding: 10px 15px;
  font-family: "Montserrat", sans-serif;
  color: #00458F;
  text-decoration: none;
  font-size: 14px;
}
#header .main-nav .chevron,
#header .main-nav * .chevron {
  display: inline-block;
  font-size: 10px;
  padding-left: 5px;
}
#header .main-nav a:hover,
#header .main-nav span:hover,
#header .main-nav * a:hover,
#header .main-nav * span:hover {
  color: #007bff;
}
#header .main-nav .dropdown-submenu,
#header .main-nav .dropdown-submenu2,
#header .main-nav * .dropdown-submenu,
#header .main-nav * .dropdown-submenu2 {
  position: relative;
}
#header .main-nav .dropdown-submenu ul,
#header .main-nav .dropdown-submenu2 ul,
#header .main-nav * .dropdown-submenu ul,
#header .main-nav * .dropdown-submenu2 ul {
  display: none;
  position: absolute;
  background-color: white;
  padding: 10px 0;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: ease all 0.3s;
  top: 100%;
}
#header .main-nav .dropdown-submenu li,
#header .main-nav .dropdown-submenu2 li,
#header .main-nav * .dropdown-submenu li,
#header .main-nav * .dropdown-submenu2 li {
  display: block;
  min-width: 180px;
  position: relative;
}
#header .main-nav .dropdown-submenu a,
#header .main-nav .dropdown-submenu span,
#header .main-nav .dropdown-submenu2 a,
#header .main-nav .dropdown-submenu2 span,
#header .main-nav * .dropdown-submenu a,
#header .main-nav * .dropdown-submenu span,
#header .main-nav * .dropdown-submenu2 a,
#header .main-nav * .dropdown-submenu2 span {
  padding: 10px 20px;
}
#header .main-nav .dropdown-submenu2 span,
#header .main-nav * .dropdown-submenu2 span {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#header .main-nav .dropdown-submenu2 ul,
#header .main-nav * .dropdown-submenu2 ul {
  top: 0;
  left: 100%;
}
#header .main-nav .dropdown-submenu:hover > ul,
#header .main-nav * .dropdown-submenu:hover > ul {
  display: block;
}
#header .main-nav .dropdown-submenu2:hover > ul,
#header .main-nav * .dropdown-submenu2:hover > ul {
  display: block;
}
@media (min-width: 768px) {
  #header .main-nav,
#header .main-nav * {
    display: block;
  }
}

#contact {
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.1);
  padding: 60px 0;
}
@media (min-width: 768px) {
  #contact .container {
    max-width: 100%;
  }
}
#contact p {
  font-size: 14px;
  line-height: 24px;
  font-family: "Open Sans", sans-serif;
  color: #283d50;
  margin: 0 0 36px;
}
@media (min-width: 768px) {
  #contact .name-mail {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  #contact .name-mail input {
    width: 49%;
  }
}
#contact .contact-info {
  margin: 30px 0 0;
}
@media (min-width: 768px) {
  #contact .contact-info {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
}
#contact .info {
  box-sizing: border-box;
  display: flex;
}
#contact .icon-contact {
  font-size: 24px;
  color: #007bff;
  line-height: 1;
  width: 40px;
  height: 40px;
  display: flex;
}
#contact section {
  display: block;
  box-sizing: border-box;
}
#contact .container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
#contact .header {
  padding-bottom: 30px;
}
#contact .map-details {
  border: 0;
  width: 100%;
}
@media (min-width: 768px) {
  #contact .map-details {
    width: 49%;
  }
}
#contact .container-form {
  display: flex;
  flex-wrap: wrap;
  margin-right: -5px;
  margin-left: -5px;
}
#contact #contact .form-first input {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
}
#contact input {
  overflow: visible;
  cursor: text;
  text-align: start;
}
#contact textarea {
  height: auto;
  overflow: auto;
  resize: vertical;
}
@media (min-width: 768px) {
  #contact .map-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
@media (min-width: 768px) {
  #contact .info-container {
    width: 49%;
  }
}

#contact form {
  text-align: center;
}
#contact .submit {
  background: #007bff;
  border: 0;
  border-radius: 20px;
  padding: 8px 30px;
  color: white;
  transition: 0.3s;
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
  display: inline-block;
}
#contact input,
#contact textarea {
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  margin-bottom: 1rem;
}
#contact .form-first {
  width: 100%;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: white;
}
#contact .form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-weight: 400;
  height: 38px;
  line-height: 1.5;
  color: #495057;
  background-color: white;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  box-sizing: border-box;
}
#contact .form-control:focus {
  border-color: #74b5fc;
  outline: 0;
}
#contact .form-textarea {
  height: 120px;
}

.footer form {
  display: flex;
}
.footer input {
  background-color: white;
  border: 0;
  padding: 6px 8px;
  width: 65%;
  box-sizing: border-box;
}
.footer button {
  background: #007bff;
  border: 0;
  width: 35%;
  padding: 6px 0;
  text-align: center;
  color: white;
  transition: 0.3s;
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
}

/*# sourceMappingURL=main.css.map */
